{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Modifier l'utilisateur
{% endblock %}

{% block body %}
    <h1 class="mt-5">Modifier l'utilisateur</h1>
    {% if "ROLE_SUPER_ADMIN" in app.user.roles %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    {% elseif "ROLE_ADMIN" in app.user.roles  %}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) == false }}
    {% endif %}


    <button class="btn btn-primary" type="submit">Valider</button>
    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-link">Annuler</a>
    {{ form_end(form) }}
{% endblock %}