{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if ("ROLE_SUPER_ADMIN" not in user.roles) and ("ROLE_ADMIN" not in user.roles) %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>

                    {% if ("ROLE_ADMIN" in user.roles ? user.roles|json_encode : ''  ) %}
                        <td>Adminstrateur</td>
                    {% else %}
                        <td>Utilisateur</td>
                    {% endif %}
                    <td>{% if user.isBanned %}
                            {{ ' Banni' | trans({}, 'false') }}
                        {% else %}
                            {{ 'Autorisé' | trans({}, 'true') }}
                        {% endif%}
                    </td>
                    <td>
                        {% if user.isBanned == false %}
                            <a href="{{ path('user_banned', {'id': user.id}) }}" class="badge badge-danger" onclick="return confirm('Etes vous sur de vouloir bannir l\'utilisateur')">
                                Bannir
                            </a>
                        {% elseif user.isBanned == true  %}
                            <a href="{{ path('user_unbanned', {'id': user.id}) }}" class="badge badge-success"onclick="return confirm('Etes vous sur de vouloir réautorisé l\'utilisateur')">
                                Autoriser
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="badge badge-primary" >Détail</a>
                    </td>
                    <td>

                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
